body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    padding: 1px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

body{
    min-height: 100vh;
}

main{
    grid-area: main;
}

main section img{
    width: 100%;
}

footer{
    grid-area: footer;
}

.m{
    justify-content: center;
}

@media only screen and (min-width:600px){
    #grid-container{
        display: grid;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    /*Nav*/

    .logo{
        float: left;
        padding: 1%;
    }

    header nav ul{
        float: right;
        position: relative;
        padding: 1%;
    }

    header nav ul li{
        display: inline-block;
        margin: 0 0.6rem;
    }

    header nav ul li a{
        text-decoration: none;
        color: black;
    }

    .porto{
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #e6bd43;
        text-underline-offset: 5px;
    }

    .contact{
        font-weight: bold;
        background-color: #e6bd43;
        padding: 12px;
    }

    /*Index*/

    main{
        position: relative;
        padding-bottom: 0;
    }

    main section p{
        align-items: center;
    }

    /*About*/

    .bgabout{
        width: 100%;
        object-fit: cover;
        height: 500px;
    }

    .brands{
        display: table;
        border: 1px solid black;
    }

    .brand{
        text-align: center;
    }

    .map{
        width: 100%;
        margin-bottom: 0px;
    }

    /*Products*/

    .bgproducts{ /*Background picture in products.html*/
        width: 100%;
        object-fit: cover;
        height: 300px;
    }

    .jobs{
        margin: 2%;
    }

    .jobs ul{
        display: flex;
    }

    .jobs ul li{
        list-style: none;
        border: 1px solid #000;
        margin-right: 10px;
        padding: 8px;
        align-items: center;
    }

    .jobs a{
        text-decoration: none;
        color: black;
    }

    .prods{
        margin: 2%;
    }

    .p-container{
        position: relative;
        text-align: center;
        color: white;
    }

    .portofolio{
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        color: #000;
        font-size: 40px;
    }

    .design{
        border: 1px solid #d9d9d9;
        display: table;
    }

    .design img{
        width: auto;
        height: auto;
        max-width: 350px;
        min-width: 200px;
    }

    .branding{
        border: 1px solid #d9d9d9;
        display: table;
    }

    .branding img{
        width: auto;
        height: auto;
        max-width: 350px;
        min-width: 200px;
    }

    .development{
        border: 1px solid #d9d9d9;
        display: table;
    }

    .development img{
        width: auto;
        height: auto;
        max-width: 350px;
        min-width: 200px;
    }

    .artikkelkort{
        max-width: 350px;
        min-width: 200px;
        height: auto;
        float: left;
        border: 1px solid #d9d9d9;
        padding: 1rem;
        margin: 0.5rem;
        padding-top: 30px;
    }

    .linjer{
        content: " ";
        position: absolute;
        display: block;
        width: 96%;
        left: 2%;
        height: 3px;
        background-color: #e6bd43;
    }

    .button{
        display: inline-block;
        padding: 0.5rem;
        background-color: #e6bd43;
        text-decoration: none;
        color: #000;
    }

    .button:hover{
        background-color: #cfa31f;
    }

    /*Idk*/
    .msg{
        float: left;
    }

    .contactinfo{
        float: right;
        width: 200px;
        margin-left: 30px;
    }

    /*Footer*/

    footer{
        width: 100%;
        background-color: #252525;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer section{
        display: contents;
        align-items: center;
        flex: 1;
    }

    .flogo{
        float: left;
        padding: 1%;
    }

    footer a{
        text-decoration: none;
        color: white;
    }

    footer ul{
        list-style: none;
        display: flex;
    }
    
    footer ul li{
        margin-right: 10px;
    }

}