body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    padding: 1px;
    height: 100vh;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

body{
    min-height: 100vh;
}

main{
    grid-area: main;
}

main section img{
    width: 100%;
}

footer{
    grid-area: footer;
}

/*Footer*/

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #252525;
    color: white;
    align-items: center;
}

.m{
    justify-content: center;
}

@media only screen and (min-width:600px){
    #grid-container{
        display: grid;
        grid-template-areas: "header header header" "main main main main main" "footer footer footer";
    }

    .flex-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
      
    .flex-section section{
        margin-right: 20px;
        padding: 1rem;
        width: 40%;
        align-self: center;
    }
      
    .flex-section ul{
        list-style: none;
        padding: 0;
        display: flex;
    }
      
    .flex-section li{
        margin-right: 10px;
    }

    main{
        
    }

    main section h2{
        padding: 5px;
        padding-left: 15px;
    }

    main section a{
        content: " ";
        position: absolute;
        display: block;
        width: 96%;
        left: 2%;
        height: 3px;
        background-color: #9a0808;
    }

    .design{
        border: 1px solid #d9d9d9;
        display: table;
    }

    .branding{
        border: 1px solid #d9d9d9;
        display: table;
    }

    .development{
        border: 1px solid #d9d9d9;
        display: table;
    }

    .artikkelkort{
        max-width: 250px;
        width: 100%;
        float: left;
        border: 1px solid #d9d9d9;
        padding: 1rem;
        margin: 0.5rem;
    }
}